.carousel {
    width: 100%;
    margin: 50px auto;
    padding: 50px 0;
    background: #ccc;;
}
.viewport{
    overflow: hidden;
}
.carousel-container {
    margin: 0 20px;
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.card {
    transform: translate3d(0,0,0);
    flex: 0 0 23%;
    min-width: 225px;
    padding-left: 1rem;
}
.card-content {
    border: 3px solid #000;
    border-radius: 1.8rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.carousel_controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
    margin-left: 2rem;
  }
  .carousel_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem #000;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: #eee;
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }